<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.emp.mapper.DeptMapper">
	<sql id="deptSql">
			<where>
			<if test="departmentId != null and departmentId != '' ">
				and department_id in
				<foreach open="(" close=")" collection="deptArr" item="dept"
					separator=",">
					#{dept}
				</foreach>
			</if>
			<if test="locationId != null and locationId != '' ">
				and location_id = #{locationId}
			</if>
			</where>
	</sql>
	<insert id="insertDept">
		<selectKey keyProperty="departmentId" 
				   resultType="String" 
				   order="BEFORE">
			select max(department_id) +10
			from departments
		</selectKey>
		insert into departments (department_id, department_name,manager_id,location_id)
		values (#{departmentId},#{departmentName},#{managerId},#{locationId})
	</insert>
	<select id="selectDeptOne" resultType="DeptVO">
		select *
		from departments
		where department_id = #{departmentId}
	</select>
	<select id="selectDeptList" resultType="DeptVO">
		select department_id , department_name , manager_id , location_id
		from
		departments
		<include refid="deptSql"></include>
		<choose>
			<when test="orderColumn != null">
				order by ${orderColumn}
			</when>
			<otherwise>
				order by department_id
			</otherwise>
		</choose>
	</select>
	<select id="selectCount" resultType="int">
		select count(*) 
		from employees
		<include refid="deptSql"></include>
	</select>
	<select id="selectManagerId" resultType="map">
		select distinct(b.manager_id) , a.first_name 
		from employees a join employees b 
		on b.manager_id = a.employee_id
	</select>
	<select id="selectLocationId" resultType="map">
		select location_id,street_address from locations
	</select>
	
	<select id="selectDepartmentId" resultType="map">
		select department_id,department_name from departments
	</select>
	<delete id="deleteDept">
		delete 
		from departments 
		where department_id = #{departmentId}
	</delete>
	<update id="updateDept">
		update departments
		set department_name=#{departmentName},
			manager_id=#{managerId},
			location_id=#{locationId}
		where department_id = #{departmentId}
	</update>
</mapper>